NOME DO PROJETO
Calculadora de Recisao de Contrato CLT

OBJETIVO DA APLICAÇÃO
Temos como Objetivo fazer o calculo da maneira mais simples para os dois lados, e assim dificultanto cada vez mais a chance de erros

LINGUAGEM ESCOLHIDA
O projeto vai utilizar a linguagem Python no backend e conversar se será usado mais alguma linguagem ao decorrer do curso.

DESCRIÇÃO GERAL DO FUNCIONAMENTO
